<section>
  <article>
    <img src='images/horse_js.jpeg' alt='horse_js'/>
  </article>
  <article class='caption'>
    <div class='caption_text'>
      <h1>horse_js</h1>
      <p>as much as I want to be, I'm not </p><p class='handle'>@horse_js</p>
    </div>
    <div class='left'>
      <p>7 days</p>
    </div>
  </article>
</section>
